{% extends 'layoutNoNav.html' %}


{% block body %}

{% if found is sameas true %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <a style="width: 8rem;" href="{{ url_for('login')}}">
        <img src="{{ url_for('static', filename='graphics/' + 'logo4.png') }}" alt="">
    </a>
    <div
        style="background-color: white; display: flex; flex-direction: column; align-items: center; margin-top: 3rem; padding: 6rem; border-radius: 2rem;">
        <h1 class="title is-3">Forgot Password</h1>
        <p style="text-align: center;"> Message has been sent to <br><strong>{{ email }}</strong></p>
    </div>

</div>

{% else %}
<div style="display: flex; flex-direction: column; align-items: center;" >
    <a style="width: 8rem;" href="{{ url_for('login')}}" >
        <img src="{{ url_for('static', filename='graphics/' + 'logo4.png') }}" alt="">
    </a>
    <div
        style="background-color: white; display: flex; flex-direction: column; align-items: center; margin-top: 3rem; padding: 6rem; border-radius: 2rem;">
        <h1 class="title is-3">Forgot Password</h1>
        <form action="" method="POST" style="width: 20rem; margin-top: 1rem; display: flex; flex-direction: column;">
            {% if error is defined%}
            <p
                style="font-size: 1rem; color: white; display: inline-block; width: 20rem; padding: .5rem; background-color: #1D9BF0; text-align: center; border-radius: .5rem;">
                {{error}} !</p>
            {% endif %}
            <div class="control" style="margin-top: 1rem;">
                <label for="email">Enter your email</label>
                <input type="text" name="email" class="input" value="{{request.form.email}}">
            </div>
            <button type="submit" class="button is-success"
                style="width: 8rem; align-self: center; margin-top: 4rem;">Send</button>

        </form>
    </div>

</div>
{% endif %}


{% endblock %}