{% extends 'layoutNoNav.html' %}


{% block body %}
<div style="display: flex; flex-direction: column; align-items: center;">
    <a style="width: 8rem;" href="{{ url_for('login')}}">
        <img src="{{ url_for('static', filename='graphics/' + 'logo4.png') }}" alt="">
    </a>
    <div style="background-color: white; display: flex; flex-direction: column; align-items: center; margin-top: 3rem; padding: 6rem; border-radius: 2rem;">
        <h1 class="title is-3">Reset Password</h1>
        <form action="" method="POST" style="width: 20rem; margin-top: 1rem; display: flex; flex-direction: column;">
            {% if error is defined%}
            <p style="font-size: 1rem; color: white; display: inline-block; width: 20rem; padding: .5rem; background-color: #1D9BF0; text-align: center; border-radius: .5rem; margin-bottom: .5rem;">{{error}} !</p>
            {% endif  %}
            <div class="control" >
                <label for="password">Enter your new password</label>
                <input type="password" name="password" class="input" value="{{request.form.password}}">
            </div>
            <div class="control">
                <label for="password">Confirm password:</label>
                <input type="password" name="confirmpass" class="input" value="{{request.form.confirmpass}}">
            </div>
            <button type="submit" class="button is-success" style="width: 8rem; align-self: center; margin-top: 4rem;">Reset</button>
            
        </form>
    </div>

</div>

{% endblock %}